'.', 'Classes', 'Private', 'Public' | ForEach-Object -Process {
	if (Test-Path -Path "$PSScriptRoot\$_") {
		Write-Verbose "Importing files from folder: $_"
		foreach ($file in (Get-ChildItem "$PSScriptRoot\$_\*.ps1" -ErrorAction 'SilentlyContinue')) {
			try {
				Write-Verbose "Importing $($file.FullName)"
				. $file.FullName
			}
			catch {
				Write-Error "Failed to import '$($file.FullName)'. $_"
			}
		}
	}
}
